<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/main.css" rel="stylesheet">
    <script src="../js/vue.js"></script>
    <script src="../js/axios.js"></script>
</head>
<body>
<div id="app">
    当前用户：{{username}}<br/>
    用户角色：{{role.name}}<br/>
    <h3>欢迎使用某某管理系统</h3>
    <hr/>
    有您需要处理的任务：
    <table class="mainTb" v-if="tasks.length > 0">
        <tr>
            <th>流程</th>
            <th>发起人</th>
            <th>当前任务</th>
            <th>操作</th>
        </tr>
        <tr v-for="task in tasks">
            <td v-text="task.flowName"></td>
            <td v-text="task.startUser"></td>
            <td v-text="task.taskName"></td>
            <td>
                <button @click="doApproval(task.flowName,task.taskProcessInstanceId, task.taskId)">前往处理</button>
            </td>
        </tr>
    </table>
    <span v-else>无任务</span>
</div>
<script>
    const app = {
        setup() {
            const username = Vue.ref(localStorage.getItem("username"));
            const role = Vue.ref(JSON.parse(localStorage.getItem("role")));
            const tasks = Vue.ref([]);

            axios.get("/api/admin/task", {
                headers: {
                    token: localStorage.getItem("token")
                }
            }).then(response => {
                console.log(response.data);
                tasks.value = response.data.value;
                console.log(tasks.value);
            })

            /**
             * 处理，点击后跳转到审批处理页面
             * @param processInstanceId
             */
            const doApproval = (flowName, processInstanceId, taskId) => {
                switch (flowName) {
                    case "请假流程":
                        location.replace("/leaveApply/approval.html?processInstanceId=" + processInstanceId + "&taskId=" + taskId);
                        break;
                    case "加班流程":
                        location.replace("/overtime/approval.html?processInstanceId=" + processInstanceId + "&taskId=" + taskId);
                        break;
                }

            }

            return {
                username, role, tasks, doApproval
            }
        }
    }
    Vue.createApp(app).mount("#app");
</script>
</body>
</html>
